<!--<div class="navbar navbar-default navbar-static-top" ng-controller="NavbarCtrl">-->
<!--<div class="container">-->
<!--<div class="navbar-header">-->
<!--<button class="navbar-toggle" type="button" ng-click="isCollapsed = !isCollapsed">-->
<!--<span class="sr-only">Toggle navigation</span>-->
<!--<span class="icon-bar"></span>-->
<!--<span class="icon-bar"></span>-->
<!--<span class="icon-bar"></span>-->
<!--</button>-->
<!--<a href="/" class="navbar-brand">cv2</a>-->
<!--</div>-->
<!--<div collapse="isCollapsed" class="navbar-collapse collapse" id="navbar-main">-->
<!--<ul class="nav navbar-nav">-->
<!--<li ng-repeat="item in menu" ng-class="{active: isActive(item.link)}">-->
<!--<a ng-href="{{item.link}}">{{item.title}}</a>-->
<!--</li>-->
<!--</ul>-->
<!--</div>-->
<!--</div>-->
<!--</div>-->


<header min-header-scroll ng-class="{ minified: minifiedHeader }">
    <div class="header-container">
        <img src="img/avatar.png" alt="" width="70" id="avatar"/>
        <h1><a ui-sref="main.presentation">CV Achille Guillon<br/><span class="slogan">Full Stack Developper</span></a></h1>
        <!--<a id="menu-button" ui-sref="menu">&#9776;</a>-->
        <nav>
            <ul>
                <!--<li><a ui-sref="presentation">Présentation</a></li>-->
                <li><a ui-sref="main.competences">Compétences</a></li>
                <li><a ui-sref="main.experiences">Expériences</a></li>
                <li><a ui-sref="main.realisations">Réalisations</a></li>
                <li><a ui-sref="main.formation">Formation</a></li>
                <li><a ui-sref="main.contact">Contact</a></li>
            </ul>
        </nav>
    </div>
</header>