<section class="contact even">
    <div class="overlay-loader" ng-show="true || messageSending">

    </div>

    <div class="content">
        <h2>Contact</h2>

        <form ng-submit="submit()" ng-controller="ContactCtrl">
            <div class="contact-inputs">
                <input type="text" ng-model="contact.nom" id="nom" placeholder="Nom" ng-disabled="messageSending"/><br/>
                <input type="email" ng-model="contact.email" id="email" placeholder="E-mail" ng-disabled="messageSending"/><br/>
                <textarea ng-model="contact.message" id="message" placeholder="Message" ng-disabled="messageSending"></textarea>
                <br/>
                <!--<label id="label-captcha" for="captcha">1 + 1 = </label>-->
                <!--<input type="text" ng-model="contact.captcha" id="captcha" placeholder="Captcha"/>-->
            </div>


            <button type="submit" ng-class="{ 'loading': messageSending }" ng-disabled="messageSending">
                <span class="text-button">Envoyer</span>
                <div class="spinner" ng-show="messageSending">
                    <div class="dot1"></div>
                    <div class="dot2"></div>
                </div>
            </button>

            <p ng-show="!successMessage && !errorMessage"></p>

            <p ng-show="successMessage" class="form-response success">{{ successMessage }}</p>

            <p ng-show="errorMessage" class="form-response error">{{ errorMessage }}</p>
        </form>
    </div>
</section>