/*==========================================*\
  ================== FONTS =================
\*==========================================*/
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  src: local('Montserrat-Regular'), url(http://fonts.gstatic.com/s/montserrat/v6/zhcz-_WihjSQC0oHJ9TCYPk_vArhqVIZ0nv9q090hN8.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}

/* latin */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  src: local('Montserrat-Bold'), url(http://fonts.gstatic.com/s/montserrat/v6/IQHow_FEYlDC4Gzy_m8fcoWiMMZ7xLd792ULpGE4W_Y.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}

/*==========================================*\
  ================= COMMONS ================
\*==========================================*/
.clear {
  clear: both;
}

a {
  text-decoration: none;
}

footer {
  text-align: center;
  padding: 30px 0;
  margin-top: 0;

  nav {
    ul {

      li {
        display: inline-block;
        list-style-type: none;
        font-size: 14px;
        a {
          color: #FFF;
          padding: 0 10px;
        }
      }
    }
  }
}

.fade-hover-transition {

}

/* reveal/push out links */
.reveal-pushout-link-wrapper {
  position: relative;
  z-index: 1;
  text-align: center;

  a {
    overflow: hidden;
    position: relative;
    display: inline-block;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 14px;

    span {
      display: block;
      padding: 8px 16px;
      background: #1282A3;
      -webkit-transition: -webkit-transform 0.3s;
      -moz-transition: -moz-transform 0.3s;
      transition: transform 0.3s;
    }

    &::before {
      position: absolute;
      top: 0;
      left: 0;
      z-index: -1;
      padding: 8px 0;
      width: 100%;
      height: 100%;
      background: #fff;
      color: #1282A3;
      content: attr(data-hover);
      -webkit-transition: -webkit-transform 0.3s;
      -moz-transition: -moz-transform 0.3s;
      transition: transform 0.3s;
      -webkit-transform: translateX(-25%);
    }

    &:hover span,
    &:focus span {
      -webkit-transform: translateX(100%);
      -moz-transform: translateX(100%);
      transform: translateX(100%);
    }

    &:hover::before,
    &:focus::before {
      -webkit-transform: translateX(0%);
      -moz-transform: translateX(0%);
      transform: translateX(0%);
    }
  }
}

body {
  background: #e1e1e1;
  font-family: Montserrat;
  font-weight: 700;
}

/*==========================================*\
  ================= HEADER =================
\*==========================================*/
header {
  position: fixed;
  z-index: 9999;
  width: 100%;
  height: 130px;
  background: #2c3e50;
  color: #fff;
  text-align: center;

  .header-container {
    width: 1170px;
    margin: auto;
  }

  img#avatar {
    float: left;
    margin: 28px 20px 0 0;
    transition: 200ms;
  }

  h1 {
    float: left;
    font-size: 24px;
    margin-top: 30px;
    transition: 200ms;
    a {
      color: #FFF;
    }
  }

  #menu-button {
    display: none;
  }

  nav {
    float: right;
    margin: 30px 0 30px 0;
    transition: 200ms;

    ul li {
      list-style-type: none;
      display: inline;
      text-transform: uppercase;
      font-size: 14px;
      padding: 0 10px 0 10px;

      a {
        position: relative;
        display: inline-block;
        outline: none;
        color: #fff;
        text-decoration: none;
        text-transform: uppercase;
        letter-spacing: 1px;
        text-shadow: 0 0 1px rgba(255, 255, 255, 0.3);
      }

      a::after {
        color: #FFFFFF;
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        height: 1px;
        background: #fff;
        content: '';
        opacity: 0;
        -webkit-transition: height 0.3s, opacity 0.3s, -webkit-transform 0.3s;
        -moz-transition: height 0.3s, opacity 0.3s, -moz-transform 0.3s;
        transition: height 0.3s, opacity 0.3s, transform 0.3s;
        -webkit-transform: translateY(-10px);
        -moz-transform: translateY(-10px);
        transform: translateY(-10px);
      }

      a:hover::after,
      a:focus::after,
      a.active::after {
        height: 3px;
        opacity: 1;
        -webkit-transform: translateY(0px);
        -moz-transform: translateY(0px);
        transform: translateY(0px);
      }
    }
  }

  .ribbon {
    position: fixed;
    z-index: 999999999;
    right: -52px;
    top: 55px;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
    transition: 200ms;

    background-color: #a00;
    overflow: hidden;
    white-space: nowrap;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.5);

    .ribbon-content {
      border: 1px solid #fff;
      color: #fff;
      display: block;
      font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
      font-size: 13px;
      margin: 3px 0;
      padding: 8px 50px;
      text-align: center;
      text-decoration: none;
    }
  }

  -webkit-transition-duration: 200ms;
  -moz-transition-duration: 200ms;
  -o-transition-duration: 200ms;
  transition-duration: 200ms;

  &.minified {

    height: 50px;

    img#avatar {
      width: 55px;
      margin: 6px 10px 0 6px;
    }

    h1 {
      margin-top: 10px;
      .slogan {
        display: none;
      }
    }

    nav {
      margin-top: 15px;

      ul {
        margin: 0;
      }
    }

    .ribbon {
      //      display: none;
      opacity: 0;
    }
  }
}

/*==========================================*\
  ================ CONTENTS ================
\*==========================================*/
.container {
  width: auto;

  section {
    text-align: justify;
    padding: 10px 0 60px 0;

    &.odd {
      background: #1897BC;
      color: #FFF;

      h2 {
        text-shadow: 1px 1px 1px #222;
      }
    }
    &.even {
      color: #2C3E50;

      h2 {
        text-shadow: 1px 1px 1px #DDD;
      }
    }

    .content {
      width: 1170px;
      margin: auto;

    }

    h2 {
      margin: 40px 0 50px 0;
      padding-left: 10px;
      text-align: center;
      text-transform: uppercase;
      font-size: 28px;

    }

    /*==========================================*\
      ============== PRESENTATION ==============
    \*==========================================*/
    &.presentation {
      padding-top: 140px;
    }
    /*==========================================*\
      =============== COMPETENCES ==============
    \*==========================================*/
    &.competences {

      .competences-section {
        float: left;
        background: #1897BC;
        margin: 0 15px 45px 15px;
        padding: 14px;
        width: 230px;
        color: #FFFFFF;
        border: 6px solid #FFFFFF;
        border-radius: 8px;

        transition: 400ms;

        &:hover {
          border-color: #2C3E50;
        }

        h3 {
          text-align: center;
        }

        img {
          display: block;
          margin: auto;
        }

        &.first {
          margin-left: 0;
        }

        &.last {
          margin-right: 0;
        }

        &.last-bottom {
          margin-bottom: 0;
        }
      }

      ul {
        padding: 0;
        margin: 0;
        text-align: leftn;
      }
      ul li {
        list-style-type: none;
        padding-bottom: 10px;
        padding-top: 10px;
        border-bottom: 1px dashed #bcbcbc;

        &.last {
          border: none;
          padding-bottom: 0;
        }
      }
    }
    /*==========================================*\
      =============== EXPERIENCES ==============
    \*==========================================*/
    &.experiences {
      padding-bottom: 10px;

      img {
        display: block;
        margin: auto;
      }

      h2 {
        margin-top: 0;
      }

      .experience {
        margin: 20px 20px 40px 20px;
        padding: 20px;
        background: #47ACC9;

        h3 {
          font-size: 24px;
          padding-bottom: 15px;
          border-bottom: 2px dashed #FFF;
          margin-top: 0;
          text-shadow: 1px 1px 1px #222;

          img {
            vertical-align: middle;
            display: inline-block;
            padding-right: 20px;
          }

          .date {
            font-size: 16px;
            font-style: italic;
            padding-left: 20px;
            text-shadow: 0 0 0 #000;
          }
        }

        strong {

        }

        .reveal-pushout-link-wrapper {
          float: right;
          margin-top: 30px;
        }
      }
    }
    /*==========================================*\
      ================ FORMATION ===============
    \*==========================================*/
    &.formation {
      img {
        display: block;
        margin: auto;
      }

      h2 {
        margin-top: 0;
      }

      ul.timeline {
        position: relative;
        padding: 0 0 10px 0;

        &:before {
          top: 0;
          bottom: 0;
          position: absolute;
          content: " ";
          width: 3px;
          background-color: #eee;
          left: 50%;
          margin-left: -1.5px;
        }

        li {
          list-style-type: none;
          position: relative;
          margin-bottom: 10px;

          &:before, &:after {
            content: " ";
            display: table;
          }

          &:after {
            clear: both;
          }

          .time {
            width: 200px;
            text-align: center;
            margin: 0 auto;
            padding: 2px;
            background: #47ACC9;
            border-radius: 8px;
            border: 1px solid #FFF;

            &.middle-time {
              position: absolute;
              top: 65px;
              left: 50%;
              text-align: center;
              margin-left: -102px;
            }
          }

          &.up-arrow-wrapper {
            padding-bottom: 20px;

            .up-arrow {
              position: relative;

              &:before {
                bottom: 100%;
                left: 50%;
                border: solid transparent;
                content: " ";
                height: 0;
                width: 0;
                position: absolute;
                pointer-events: none;
              }

              &:before {
                border-bottom-color: #FFFFFF;
                border-width: 13px;
                margin-left: -14px;
              }
            }
          }

          .item {
            padding: 10px 20px;
            background: #47ACC9;
            width: 400px;
            height: 65px;
            text-align: center;
            position: relative;
            z-index: 2;

            &.double {
              height: 150px;
            }

            &.left {
              float: left;
              border-left: 10px solid #FFF;
            }

            &.right {
              float: right;
              border-right: 10px solid #FFF;
            }

            .etablissement {
              display: block;
              padding-bottom: 10px;
              margin-bottom: 12px;
              border-bottom: 1px dashed #FFF;
              font-size: 18px;
            }

            .diplome {
              font-size: 14px;
            }
          }

          .highlight {
            width: 70px;
            height: 130px;
            position: absolute;
            top: -24px;
            border: 1px dashed #FFF;
            z-index: 1;

            &.switchoff {
              animation-duration: 1000ms;
              animation-name: highlightBorder;
              animation-direction: reverse;
            }

            &.double {
              height: 215px;
            }

            &.left {
              border-right: 0;
              left: 410px;
            }

            &.right {
              border-left: 0;
              right: 410px;
            }

            animation-duration: 1000ms;
            animation-name: highlightBorder;
            animation-direction: normal;

            @keyframes highlightBorder {
              from {
                width: 0;
              }

              to {
                width: 70px;
              }
            }
          }
        }
      }
    }
    /*==========================================*\
      ============== REALISATIONS ==============
    \*==========================================*/
    &.realisations {
      .realisation {
        float: left;
        margin: 10px 10px 10px 10px;
        position: relative;
        width: 350px;
        height: 250px;
        overflow: hidden;
        border: 8px solid #fff;
        border-radius: 8px;
        -webkit-transition: 500ms;

        img {
          width: 350px;
        }

        &:hover img {
          -webkit-filter: blur(2px);
          -moz-filter: blur(2px);
          -o-filter: blur(2px);
          -ms-filter: blur(2px);
          filter: blur(2px);
          -webkit-transition: 500ms;
        }

        .description-hover {
          position: absolute;
          top: 0;
          text-align: center;
          width: 330px;
          margin: 0;
          -webkit-transition: 500ms;
          font-size: 14px;
          padding: 20px 10px 20px 10px;
          height: 100%;
          opacity: 0;
          color: #FFF;

          .titre-projet {
            font-size: 20px;
            color: #FFF;
            display: block;
            margin-bottom: 20px;
          }

          .description {

          }

          .precision {
            text-align: left;
            font-style: italic;
            margin-top: 10px;
            border-top: 1px dashed #FFF;
            border-bottom: 1px dashed #FFF;
            padding: 10px 0 10px 0;
          }

          .reveal-pushout-link-wrapper {
            position: absolute;
            bottom: 60px;
            left: 52px;

            a {
              width: 250px;
            }
          }
        }

        &:hover {
          border-color: #1897BC;
        }

        &:hover .description-hover {
          opacity: 1;
          background: rgba(0, 0, 0, 0.7);
        }
      }
    }
    /*==========================================*\
      ================= CONTACT ================
    \*==========================================*/
    &.contact {
      text-align: center;
      position: relative;

      //      .overlay-loader {
      //        width: 100%;
      //        height: 100%;
      //        position: absolute;
      //        top: 0;
      //        background: rgba(0, 0, 0, 0.6);
      //
      //
      //        }

    }

    input, textarea {
      font-family: Montserrat;
      border: 1px solid #dedede;
      width: 450px;
      color: black;
      padding: 5px 10px 5px 10px;
      margin-bottom: 10px;
      outline: none;

      &:focus {
        border-color: #1897BC;
      }
    }
    input {
      height: 36px;

      &#captcha {
        width: 300px;
      }

    }
    textarea {
      height: 140px;
    }

    label#label-captcha {
      display: inline-block;
      width: 146px;
      text-align: right;
    }

    button {
      position: relative;
      font-family: Montserrat;
      background: #1897BC;
      color: #FFFFFF;
      border: none;
      border-radius: 5px;
      padding: 12px;
      font-size: 14px;
      margin-top: 10px;
      cursor: pointer;
      overflow: hidden;
      width: 82px;
      height: 42px;
      transition: 200ms;

      .text-button {
        position: absolute;
        display: block;
        top: 10px;
      }

      &.loading {
        height: 95px;

        .spinner {
          margin: 15px auto 0 auto;
          width: 40px;
          height: 40px;
          position: relative;
          text-align: center;

          -webkit-animation: rotate 2.0s infinite linear;
          animation: rotate 2.0s infinite linear;

          .dot1, .dot2 {
            width: 60%;
            height: 60%;
            display: inline-block;
            position: absolute;
            top: 0;
            background-color: #FFF;
            border-radius: 100%;

            -webkit-animation: bounce 2.0s infinite ease-in-out;
            animation: bounce 2.0s infinite ease-in-out;
          }

          .dot2 {
            top: auto;
            bottom: 0px;
            -webkit-animation-delay: -1.0s;
            animation-delay: -1.0s;
          }
          @-webkit-keyframes rotate {
            100% {
              -webkit-transform: rotate(360deg)
            }
          }
          @keyframes rotate {
            100% {
              transform: rotate(360deg);
              -webkit-transform: rotate(360deg)
            }
          }

          @-webkit-keyframes bounce {
            0%, 100% {
              -webkit-transform: scale(0.0)
            }
            50% {
              -webkit-transform: scale(1.0)
            }
          }

          @keyframes bounce {
            0%, 100% {
              transform: scale(0.0);
              -webkit-transform: scale(0.0);
            }
            50% {
              transform: scale(1.0);
              -webkit-transform: scale(1.0);
            }
          }
        }
      }
    }

    .form-response {
      width: 300px;
      text-align: center;
      font-size: 14px;
      padding: 8px;
      border-radius: 4px;
      margin: 15px auto 0 auto;

      &.error {
        transition: 200ms;
        color: #a94442;
        background: #f2dede;
        border: 1px solid #ebccd1;
      }

      &.success {
        color: #3c763d;
        background: #dff0d8;
        border: 1px solid #d6e9c6;
      }
    }
  }
}

/*==========================================*\
  ================= FOOTER =================
\*==========================================*/
footer {
  min-height: 60px;
  background: #2c3e50;
  color: #FFF;
}

/*==========================================*\
  =========== MOBILE (RESPONSIVE) ==========
  @TODO: version paysage + tablette
\*==========================================*/
body.mobile section.presentation {
  padding-top: 10px;
}

@media screen and (max-width: 768px) {
  header #menu-button {
    display: block;
    position: fixed;
    top: 8px;
    right: 5px;
  }

  .container {
    padding-top: 50px;

    section {
      padding-bottom: 15px;

      h2 {
        margin: 25px 0 35px 0;
      }
      .content {
        width: auto;
        margin: 0 10px 0 10px;
      }

      &.competences .competences-section {
        width: 285px;
        margin: 0 auto 20px auto !important;
        float: none;
      }

      &.realisations .realisation {
        width: auto;

        img {
          width: auto;
        }

        .description-hover {
          width: auto;
          
          .reveal-pushout-link-wrapper {
            position: static;
          }
        }
      }

      &.experiences .experience h3 {
        font-size: 22px;

        .date {
          display: block;
          margin-top: 15px;
          padding-left: 0;
          text-align: center;
        }
      }

      &.formation {
        ul.timeline {
          li {
            .item {
              width: 110px;
              height: 90px;
              overflow: hidden;

              .etablissement {
                font-size: 10px;
                padding-bottom: 5px;
                margin-bottom: 5px;
              }

              .diplome {
                font-size: 9px;
              }

              &.left {
                border-left: 6px solid #FFF;
              }

              &.right {
                border-right: 6px solid #FFF;
              }
            }

            .time {
              width: 70px;
              font-size: 10px;

              &.middle-time {
                margin-left: -39px;
                z-index: 3;
              }
            }

            .highlight {
              width: 30px;
              height: 148px;
              top: -20px;

              &.left {
                left: 100px;
              }

              &.right {
                right: 100px;
              }

              &.double {
                height: 208px;
              }

              @keyframes highlightBorder {
                from {
                  width: 0;
                }

                to {
                  width: 30px;
                }
              }
            }
          }
        }
      }

      &.contact {
        input, textarea {
          width: 300px;

          &#captcha {
            width: 210px;
          }
        }

        label#label-captcha {
          width: 80px;
        }
      }
    }
  }

  header.minified nav {
    z-index: -5;
    display: block;
    position: fixed;
    margin-top: 50px;
    background: #333333;
    width: 100%;
    height: 100%;

    ul {
      margin-top: 30px;
      text-align: left;
      padding-left: 0;

      li {
        display: block;
        margin: 15px 10px 15px 10px;
        padding: 0 0 15px 5px;
        font-size: 18px;
        border-bottom: 1px solid #555555;
      }
    }
  }

  footer {
    margin-top: 0;
  }
}

